<div class="container">
  <section id="tabs">
    <div class="container">
      <h6 class="section-title h1">Preparacion</h6>
      <div class="row">
        <div class="col-xs-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#paso-1" role="tab"
                aria-controls="nav-home" aria-selected="true">Paso 1</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#paso-2" role="tab"
                aria-controls="nav-profile" aria-selected="false">Paso 2</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#paso-3" role="tab"
                aria-controls="nav-contact" aria-selected="false">Paso 3</a>
              <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#paso-4" role="tab"
                aria-controls="nav-about" aria-selected="false">Paso 4</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="paso-1" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                  <img style="width: 450px; height: 450px; float: right; margin-top: 20px;"
                    src="../../../assets/images/pie.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <span style="padding: 50px 50px; font-size: 20px;">
                    <h3 style="text-align:center">Paso 1</h3><br> Et et consectetur ipsum labore excepteur est proident
                    excepteur ad velit occaecat
                    qui minim occaecat
                    veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                    Velit non
                    irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim
                    occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui
                    sit.
                    Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                    occaecat anim ullamco ad duis occaecat ex.
                  </span>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="paso-2" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                  <img style="width: 450px; height: 450px; float: right; margin-top: 20px;"
                    src="../../../assets/images/pie.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <span style="padding: 50px 50px; font-size: 20px;">
                    <h3 style="text-align:center">Paso 2</h3><br> Et et consectetur ipsum labore excepteur est proident
                    excepteur ad velit occaecat
                    qui minim occaecat
                    veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                    Velit non
                    irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim
                    occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui
                    sit.
                    Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                    occaecat anim ullamco ad duis occaecat ex.
                  </span>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="paso-3" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                  <img style="width: 450px; height: 450px; float: right; margin-top: 20px;"
                    src="../../../assets/images/pie.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <span style="padding: 50px 50px; font-size: 20px;">
                    <h3 style="text-align:center">Paso 3</h3><br> Et et consectetur ipsum labore excepteur est proident
                    excepteur ad velit occaecat
                    qui minim occaecat
                    veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                    Velit non
                    irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim
                    occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui
                    sit.
                    Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                    occaecat anim ullamco ad duis occaecat ex.
                  </span>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="paso-4" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                  <img style="width: 450px; height: 450px; float: right; margin-top: 20px;"
                    src="../../../assets/images/pie.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <span style="padding: 50px 50px; font-size: 20px;">
                    <h3 style="text-align:center">Paso 4</h3><br> Et et consectetur ipsum labore excepteur est proident
                    excepteur ad velit occaecat
                    qui minim occaecat
                    veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                    Velit non
                    irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim
                    occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui
                    sit.
                    Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                    occaecat anim ullamco ad duis occaecat ex.
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ./Tabs -->