<nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-light">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
      <div class="col clearfix button-nav">
        <div class="float-left"> <button class="btn btn-outline-success my-2 my-sm-0">Manos libres</button></div>
      <div class="float-right"> <button class="btn btn-outline-success my-2 my-sm-0">Ver tutorial</button></div>
    </div>
      
      
    </div>
  </nav>