<nav class="navbar fixed-top  navbar-expand-lg navbar-dark bg-dark">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
      <div class="col clearfix button-nav">
        <div class="float-left"> <button class="btn btn-outline-success my-2 my-sm-0">Manos libres</button></div>
      <div class="float-right"> <button id="tutorial" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModalCenter">Ver tutorial</button></div>
    </div>
      
      
    </div>
  </nav>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tutorial</h5>
        <button id="cerrar" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">
          <p style="font-weight: bold; color: #073a4b; text-align: center;">Comandos de voz</p>
          <p>Para buscar receta > “Buscar [Nombre de la receta]”</p>
          <p>Para borrar una busqueda > “Limpiar busqueda”</p>
          <p>Para abrir siguiente hoja de resultados > "Pagina Siguiente"</p>
          <p>Para abrir anterior hoja de resultados > "Pagina Anterior"</p>
          <p>Para abrir una receta > "Abrir [Nombre de la receta]"</p>
          <p>Para ir atras > “Atras”</p>
          <p style="color: #46555a;"><s>Para abrir una receta por numero de Id de receta > "Abrir receta [Numero de id]"</s></p>
          <p>Para que lea las ingredientes > "Leer ingredientes"</p>
          <p>Para parar la lectura > “Alto”</p>
          <p style="color: #46555a;"><s>Para que lea un paso > "Leer paso [Numero de paso]"</s></p>
          <p style="color: #46555a;"><s>Para que muestre un paso > "Abrir paso [numero de paso]"</s></p>
          <p style="color: #46555a;"><s>Para que abra un paso > "Abrir paso [Numero de paso]"</s></p>
          <p style="color: #46555a;"><s>Para ver los ingredientes > "Ver ingredientes"</s></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
