<div class="container search">

  <br><br>
  <h3 style="text-align: center;">Realiza tu busqueda</h3>


  <table id="tabla_busqueda" datatable class="table table-striped row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Receta</th>
      </tr>
    </thead>
    <tbody>
      <tr onclick="window.location='receta/4b31ea2b-6d40-413f-90bf-4533bbcf8a21';">
        <td>1</td>
        <td>Pizza</td>
      </tr>
      <tr onclick="window.location='receta/36160660-baae-4fd7-b1ed-fb6dccfe818d';">
        <td>2</td>
        <td>Margarita</td>
      </tr>
      <tr onclick="window.location='receta/7116b313-325a-4794-8b67-d222e85ba2a0';">
        <td>3</td>
        <td>Lasaña a la boloñesa</td>
      </tr>
      <tr onclick="window.location='receta/17afeb29-4279-4eed-af64-7e4349a88480';">
        <td>4</td>
        <td>Mojito</td>
      </tr>
      <tr onclick="window.location='receta/1e449c2e-c740-4a6a-8dae-c8c3ebc975ba';">
        <td>5</td>
        <td>Caipiroshka de Maracuyá</td>
      </tr>
      <tr onclick="window.location='receta/40abcbb4-9837-46c3-9c91-254ebbf2b0de';">
        <td>6</td>
        <td>Quesadillas</td>
      </tr>
      <tr onclick="window.location='receta/52a2d74f-44e5-44be-b5c7-3a801af3ad90';">
        <td>7</td>
        <td>Lasaña de Verduras</td>
      </tr>
      <tr onclick="window.location='receta/54498c85-c784-453a-b048-d06803d7bd4c';">
        <td>8</td>
        <td>Tabletas de Cheesecake Heladas</td>
      </tr>
      <tr onclick="window.location='receta/8bc0ddb6-79b3-4a83-b735-41941c3c3362';">
        <td>9</td>
        <td>Croquetas de Papa</td>
      </tr>
      <tr onclick="window.location='receta/77498c85-c784-453a-b048-d06803d7bd4c';">
        <td>10</td>
        <td>Milanesas a la Napolitana</td>
      </tr>
      <tr onclick="window.location='receta/11abcbb4-9837-46c3-9c91-254ebbf2b0de';">
        <td>11</td>
        <td>Milanesa de Carne Rellena</td>
      </tr>
    </tbody>
  </table>
</div>